In [55]:
import numpy as np 
import pandas as pd
import plotly.offline as pyo 
import plotly.figure_factory as ff
import plotly.graph_objs as go 
from plotly import tools

In [3]:
np.random.seed(42)

In [4]:
random_x = np.random.randint(1,101,100)
random_y = np.random.randint(1,101,100)

## 1. Scatter Plot

In [12]:
data = [go.Scatter(
    x = random_x, 
    y = random_y, 
    mode = 'markers',
    marker = dict(
        size = 12,
        color = 'rgb(51,204,153)',
        symbol= 'pentagon',
        line = {'width': 2} 
    ))]
layout_teste = go.Layout(title='First Plot', xaxis = {'title':'MY X AXIS'}, yaxis = dict(title = 'MY Y AXIS'), hovermode = 'closest')

fig = go.Figure(data=data,layout=layout_teste)
pyo.plot(fig, filename='scatter-plot.html')

'scatter-plot.html'

## 2. Lines Plot

In [18]:
x_values = np.linspace(0,1,100)
y_values = np.random.randn(100)

trace0 = go.Scatter(x =x_values, y=y_values+5, mode='markers', name = 'markers')

trace1 = go.Scatter(x=x_values, y=y_values, mode='lines', name = 'mylines')

trace2 = go.Scatter(x=x_values, y=y_values - 5, mode='lines+markers', name = 'my favorite')

data = [trace0,trace1, trace2]

layout = go.Layout(title='Line Charts')

fig = go.Figure(data=data,layout=layout)

pyo.plot(fig)

'temp-plot.html'

In [23]:
#######
# Objective: Using the file 2010YumaAZ.csv, develop a Line Chart
# that plots seven days worth of temperature data on one graph.
# You can use a for loop to assign each day to its own trace.
######

# Create a pandas DataFrame from 2010YumaAZ.csv
df = pd.read_csv('Data/2010YumaAZ.csv')
days = ['TUESDAY','WEDNESDAY','THURSDAY','FRIDAY','SATURDAY','SUNDAY','MONDAY']

In [27]:
df.columns

Index(['LST_DATE', 'DAY', 'LST_TIME', 'T_HR_AVG'], dtype='object')

In [28]:
df.head()

   LST_DATE      DAY LST_TIME  T_HR_AVG
0  20100601  TUESDAY     0:00      25.2
1  20100601  TUESDAY     1:00      24.1
2  20100601  TUESDAY     2:00      24.4
3  20100601  TUESDAY     3:00      24.9
4  20100601  TUESDAY     4:00      22.8

In [41]:
'''df = pd.DataFrame(np.random.randn(100,4),columns='A B C D'.split())
pyo.plot([{
    'x': df.index,
    'y': df[col],
    'name': col
} for col in df.columns])'''
df['LST_TIME'].unique

<bound method Series.unique of 0       0:00
1       1:00
2       2:00
3       3:00
4       4:00
       ...
163    19:00
164    20:00
165    21:00
166    22:00
167    23:00
Name: LST_TIME, Length: 168, dtype: object>

In [43]:
data = [go.Scatter(x=df['LST_TIME'],
    y = df[df['DAY'] == day]['T_HR_AVG'],
    mode = ' lines',
    name = day) for day in days]

layout = go.Layout(title='Line Charts')

fig = go.Figure(data=data,layout=layout)

pyo.plot(fig, filename='basics-ex1.html')

'basics-ex1.html'

## 3. Bar Chart

In [3]:
##https://plotly.com/python/horizontal-bar-charts/

# create a DataFrame from the .csv file:
df = pd.read_csv(r'Data\mocksurvey.csv',index_col=0)

# create traces using a list comprehension:
data = [go.Bar(
    x = df.index,
    y = df[response],
    name=response
) for response in df.columns]

# create a layout
layout = go.Layout(
    title='Mock Survey Results',
    barmode='stack'
)

# create a fig from data & layout, and plot the fig
fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename='basics-ex2.html')

'basics-ex2.html'

In [4]:
#https://plotly.com/python/horizontal-bar-charts/

# now let's plot the same data but as horizontal bars

# create traces using a list comprehension:
data = [go.Bar(
    x = df[response],
    y = df.index,
    name=response,
    orientation= 'h'
) for response in df.columns]

# create a layout
layout = go.Layout(
    title='Mock Survey Results',
    barmode='stack'
)

# create a fig from data & layout, and plot the fig
fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename='basics-ex2-horizontal.html')

'basics-ex2-horizontal.html'

## 4. Bubble Plots


data = [go.Scatter(
    x=df['horsepower'],
    y=df['mpg'],
    text=df['name'],
    mode='markers',
    marker = dict(size=2*df[cylinders],
    color=df[weight])
)]

#experiment the size, dividing or multiplying so its bigger or smaller

layout = go.Layout(title = 'Bubble Chart', hovermode='x'or'y'or'closest')

fig = Figure(data=data, layout=layout)

pyo.plot(fig, name = 'aa')

In [7]:
#objective: Create a bubble chart that compares three other features

#create dataframe:
df = pd.read_csv(r'Data\mpg.csv')

df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [16]:
data = [go.Scatter(
    x=df['displacement'],
    y=df['mpg'],
    text=df['name'],
    mode='markers',
    marker = dict(size=2*df['acceleration'],
    color=df['model_year'])
)]

layout = go.Layout(title = 'Bubble Chart', hovermode='closest')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename = 'basics-ex3-bubbleplot')

'basics-ex3-bubbleplot.html'

## 5. Box Plot

In [22]:
y = sorted(np.random.randint(1,55,20))
y

[1, 2, 2, 3, 3, 3, 3, 7, 10, 12, 13, 14, 20, 22, 23, 24, 36, 43, 46, 51]

In [26]:
data = [go.Box(y=y, boxpoints='all', jitter=0.3, pointpos=0)]

pyo.plot(data)

'temp-plot.html'

In [27]:
data = [go.Box(y=y, boxpoints='outliers')]

pyo.plot(data)

'temp-plot.html'

In [28]:
#Exercise
#objective: Make a DF using the Abalone dataset (../data/abalone.csv)
#Take Two independent random samples of different sizes from the rings field.

In [30]:
df = pd.read_csv('Data/abalone.csv')

df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [37]:
df.shape

(4177, 9)

In [41]:
np.random.seed(42)

random_sample1 = np.random.choice(df['rings'],30,replace=False)


np.random.seed(30)

random_sample2 = np.random.choice(df['rings'],20,replace=False)

print(random_sample1,random_sample2)

[ 9  8 16  9 14 11  7  6  7 10 22  7 15  9  8 18 11 14 13  9 20 12 12 11
 10  7 11  8  9 10] [ 6  9  9 12 10  7  8  9 10  4  4 10 12  8  8  7 10  4 11  8]

In [46]:
data = [
    go.Box(y=random_sample1, boxpoints='outliers', jitter=0.3, pointpos=0, name='First Sample'),
    go.Box(y=random_sample2, boxpoints='outliers', jitter=0.3, pointpos=0, name='Second Sample')
    ]
layout = go.Layout(title='Box Plot Exercise')

fig = go.Figure(data = data, layout = layout)
pyo.plot(fig, filename='basics-ex4-boxplot')

'basics-ex4-boxplot.html'

## 6. Histogram
Histograms are for a continuous data analysis

In [50]:
'''data = [
    go.Histogram(x=df['mpg'],xbins=dict(start=0,end=50,size=10))
    ]

layout = go.Layout(title='Histogram')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)'''

"data = [\n    go.Histogram(x=df['mpg'],xbins=dict(start=0,end=50,size=10))\n    ]\n\nlayout = go.Layout(title='Histogram')\n\nfig = go.Figure(data=data, layout=layout)\n\npyo.plot(fig)"

In [51]:
#Objective: Create a histogram that plots the length field 
#from th Abalone Dataset(Data/abalone.csv)
#Set the range from 0 to 1, with a bin size of 0.02

In [53]:
df = pd.read_csv('Data/abalone.csv')

df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [54]:
data = [go.Histogram(x=df['length'],xbins=dict(start=0,end=1,size=0.02))]

layout = go.Layout(title='Histogram')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig, filename='basics-ex5-histogram')

'basics-ex5-histogram.html'

## 7. Distplot

In [57]:
x1 = np.random.randn(200)+2
x2 = np.random.randn(200)+1
x3 = np.random.randn(200)
x4 = np.random.randn(200)-1

hist_data = [x1,x2,x3,x4]
group_labels = ['x1','x2','x3','x4']

fig = ff.create_distplot(hist_data,group_labels)

pyo.plot(fig)

'temp-plot.html'

Exercise - Distplot

In [58]:
#Objective: Using the iris dataset, develop a Distplot
#that compares the petal lengths of each class
#File: Data/iris.csv
#Fields: 'sepal_length'...

In [59]:
df = pd.read_csv('Data/iris.csv')

df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [63]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [67]:
hist_data = []
group_labels = []
for flower_class in df['class'].unique():
     flower_data = df[df['class'] == flower_class]['petal_length']
     hist_data.append(flower_data)
     group_labels.append(flower_class)

fig = ff.create_distplot(hist_data,group_labels)

pyo.plot(fig, filename = 'basics-ex6-distplot')

'basics-ex6-distplot.html'

## 8. Heatmap
Can be used both for categorical and continuous data

In [69]:
df = pd.read_csv('Data/2010SantaBarbaraCA.csv')

data = [go.Heatmap(
    x=df['DAY'], 
    y=df['LST_TIME'], 
    z=df['T_HR_AVG'].values.tolist(),
    colorscale='Jet')]

layout = go.Layout(title='SB CA Temps')

fig = go.Figure(data=data,layout = layout)

pyo.plot(fig)

'temp-plot.html'

In [70]:
#subplots -> create traces and then:
#fig = tools.make_subplots(rows=1,cols=3,subplot_titles=['Sika AK', 'lalala', 'akkaka'], shared_yaxes=False)

#fig.append_trace(trace1,1,1)
#fig.append_trace(trace2,1,2)
#fig.append_trace(trace3,1,3)

#fig['layout'].update(title='Temps for 3 cities')

#pyo.plot(fig)

Exercise - Heatmap

In [71]:
# Objective: Using the flights dataset available
# from the data folder as flights.csv
# create a heatmap with the following parameters
# x-axis = "year"
# y-axis = "month"
# z-axis(color)="passengers"

In [72]:
df = pd.read_csv('Data/flights.csv')

df.head()

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [77]:
data = [go.Heatmap(
    x=df['year'], 
    y=df['month'], 
    z=df['passengers'].values.tolist(),
    colorscale='jet')]

layout = go.Layout(title='Flights - Heatmap')

fig = go.Figure(data=data,layout = layout)

pyo.plot(fig, filename = 'basics-ex7-heatmap')

'basics-ex7-heatmap.html'